.profilepic {
    height: 20rem !important;
}

.nodecor, .nodecor:hover {
    text-decoration: none;
    color: #ffffff;
}

.stretch {
    height: 100%;
}

.uber-tutor-signin {
    float:right
}

.uber-tutor-intro {
    height: 20rem;
}
