.profilepic {
    height: 20rem !important;
    width: 20rem !important;
    border-radius: 50%;
}

.nodecor, .nodecor:hover {
    text-decoration: none;
    color: #ffffff;
}

.stretch {
    height: 100%;
}

.uber-tutor-signin {
    float:right
}

.uber-tutor-welcome {
    margin-top: 0.5rem;
}

.uber-tutor-intro {
    height: 20rem;
}

.uber-tutor-nav {
    width: 100%;
}

.uber-tutor-view {
    width: 100% !important;
}

.uber-tutor-error {
    color: red !important;
}

#mobile-search {
    display: none;
}
#mobile-signin {
    display: none;
}
#full-search {
    display: initial;
}
#full-signin {
    display: initial;
}

@media only screen and (max-width: 600px) {
    #mobile-search {
        display: initial;
    }
    #mobile-signin {
        display: initial;
    }
    #full-search {
        display: none;
    }
    #full-signin {
        display: none;
    }

    .profilepic {
        height: 10rem !important;
        width: 10rem !important;
    }
}
