.profilepic {
    height: 20rem !important;
}

.nodecor, .nodecor:hover {
    text-decoration: none;
    color: #ffffff;
}

.stretch {
    height: 100%;
}

.uber-tutor-signin {
    float:right
}

.uber-tutor-welcome {
    margin-top: 0.5rem;
}

.uber-tutor-intro {
    height: 20rem;
}

.uber-tutor-nav {
    width: 100%;
}

.uber-tutor-view {
    width: 100% !important;
}

.uber-tutor-error {
    color: red !important;
}
